body {
    background: rgb(32, 240, 230);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    align-items: center;
}

::placeholder{
	color:#004040;
	letter-spacing:3px;
}
/*** TITULO WEB  *******************************/

.header {
    position: relative; 
    width: 100%;
    text-align: center; 
    margin-top: 30px;
    background-color: antiquewhite;
    padding: 20px;
    
}


.header h1 {
	margin:0;
    font-size: 50px;
    letter-spacing: 5px;
    width: 100%;
}


h3 {
	position: relative;
	margin-top:30px;
	margin-left:50px;
	
    font-size: 30px;
}

/*** BOTON EXIT *******************************/
#exit {
     width: 120px; 
    height: 100px;
     position: absolute;
    right: 60px;
    top: -0px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#exit img {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
    
    transition: transform 0.5s;
}

#exit img:hover{
transform: scale(1.3);

}

/*** BOTON ATRAS *******************************/
#rediAtras {
    width: 100px; 
    height: 120px;
    position: absolute;
    left: 50px;
    top: -10px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
        transition: transform 0.5s;
    
}

#rediAtras img {
    width: 100%;  
    height: 100%;  
    object-fit: contain;
}

#rediAtras:hover{
transform: scale(1.3);

}


/*** FORMULARIO *******************************/
#formEleccion {
   	position:relative;
    width: 550px;
    height: 400PX;
   margin-top: 20px;
    left: 100px;
    
    border-radius: 20px;
    font-size: 28px;
    background-color: rgba(246, 196, 34, 0.982);
    padding: 30px;
    box-sizing: border-box;
}

#formEleccion input[type="radio"] {
    margin-right: 20px;
    margin-top:20px;
    transform:scale(2);/*para hacer los radio más accesibles*/
     
}



/*** BOTON *******************************/

#botonEnviarEleccion {

    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    bottom: 20px;
    left: 25%;
    width: 280px;
    height: 100px;
    text-align: center;
    border-radius: 5px;
    background-color: #E3E386;
    border: 3px grey solid;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

}

#botonEnviarEleccion:hover{
    background-color:  #a861f8;
}


button:hover {
background-color: #d6a40e;
}

/*** FORMULARIO ALTA *******************************/

#formAlta {
    width: 550px;
    height: 1000px;
    position:absolute;
    top:230px;
    right: 120px;
    border-radius: 20px;

    font-size: 20px;
    background-color: rgba(211, 227, 166, 0.982);
    padding: 5px;
    box-sizing: border-box;
    
    

}


#formAlta input {  
    margin-left: 140px;
    margin-top:20px;
    border-radius: 18px;
    width: 40%; /* Ajusta el ancho de los inputs */
    padding: 10px;
    font-size: 14px;
    text-align:center;
    
  
}
#botonEnviarAlta{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    bottom: 14px;
    left: 25%;
    width: 220px;
    height: 60px;
    text-align: center;
    border-radius: 5px;
    background-color: #E3E386;
    border: 3px grey solid;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

}

#botonEnviarAlta:hover{
    background-color:  #a861f8;
}


button:hover {
background-color: #d6a40e;
}
.tituloForm{
	font-size:24px;
}
label{
	letter-spacing:5px; 
    top: 3px;
     margin-top: 3px;
     margin-left: 100px;
    display: block; 
}


/*** FORMULARIO BAJA *******************************/

#formBaja {
      width: 550px;
    height: 400px;
    position:absolute;
    top:230px;
    right: 120px;
    border-radius: 20px;

    font-size: 20px;
    background-color: rgba(211, 227, 166, 0.982);
    padding: 5px;
    box-sizing: border-box;


}
#formBaja input {  
    display: block; /* Coloca el input debajo del label */
    margin-left: 120px;  
      margin-top: 50px;
    
    border-radius: 18px;
    width: 40%; /* Ajusta el ancho de los inputs */
    padding: 10px;
    font-size: 14px;
    text-align:center;
 
    color:black;
}
#botonEnviarBaja{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    bottom: 32px;
    left: 25%;
    width: 220px;
    height: 60px;
    text-align: center;
    border-radius: 5px;
    background-color: #E3E386;
    border: 3px grey solid;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

}

#botonEnviarBaja:hover{
    background-color:  #a861f8;
}


button:hover {
background-color: #d6a40e;
}
.tituloForm{
	font-size:24px;
}
label{
	letter-spacing:5px; 
    top: 23px;
     margin-top: 53px;
     margin-left: 100px;
    display: block; 
}

/*** FORMULARIO MODIFICACION *******************************/

#formModificacion {
    width: 550px;
    height: 400px;
    position:absolute;
    top:230px;
    right: 120px;
    border-radius: 20px;

   font-size: 22px;
    background-color:rgb(225, 236, 193);
    padding: 5px;
    box-sizing: border-box;

}



#botonEnviarModificacion{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    bottom: 16px;
    left: 30%;
    width: 220px;
    height: 60px;
    text-align: center;
    border-radius: 5px;
    background-color: #E3E386;
    border: 3px grey solid;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

}

#botonEnviarModificacion:hover{
    background-color:  #a861f8;
}


button:hover {
background-color: #d6a40e;
}
.tituloForm{
	font-size:24px;
}
/********************* INPUT EMAIL*/
#mailTutor{
	 border-radius: 18px;
    width: 40%; 
    font-size: 14px;
    padding:10px;
    color:black;
    text-align:center;
    margin-left:150px;
}
	
/********************* SELECT*/

#opcionesMod{
    margin-left:160px;
   margin-top: 20px;
    border-radius: 18px;
    width: 40%; 
    padding: 12px;
    font-size: 16px;
	
}

/********************* INPUTS RELLENA-SELECT*/

#contenedorOpciones{
	display:flex;
	flex-direction:row;
	 justify-content: space-between;
	margin-top: 12px;
    padding: 0 20px;
    align-items:center;
	
}

#actual, #nuevo{
	    display: flex;
	align-items:center;
	flex-direction:column;
	 width: 50%;		
}

#actual label, #nuevo label{
    font-size: 22px;
	text-align:center;
	margin-bottom:10px;
		margin-right:8px;
	
	justify-content:center;
		
    
}

#actual input, #nuevo input {
    border-radius: 18px;
    width: 80%; 
    font-size: 14px;
    padding: 10px;
    text-align: center;
    	margin-bottom:20px;
    
}





