<!DOCTYPE html>
<html lang="en">
<head>
   
    <!-- FUENTE PARA LA NUBE-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        
    <!-- FUENTE PARA EL TITULO  -->

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
       
       
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/estilos_descanso.css"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIN_PARTIDA</title>
</head>

<body>
    
<!--IMAGEN DE INICIO-------------------------------------->
    <div id="nube">
        <img src="img/nube2.png" alt="titulo_app">
        <h1>TOCA DESCANSAR</h1>

    </div>

<!-- MATI DESCANSO------------------------------------->
 <img id="mati" src="img/mati_descanso.png" alt="mati">

<!-- BOTON PARA INICIAR-------------------------------------->

    <button title="ir a menú de alumno" id="btn_descanso" value="inicio" onclick="rediMenu(event)">A MENÚ</button>


    <!--SCRIPT-->
    <script src="/scripts/script_descanso.js"></script>
</body>
</html>