<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./resources/static/css/estilos_introM2.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <title>INTRO_MUNDO_2</title>
</head>

<body>
    <h3>Bienvenido a...</h3>
    <h2>EL ESPACIO</h2>
   

    <!-- LUNA -->
    <div id="luna"></div>

    <!-- MARTE -->
    <div id="marte"></div>

    <!-- MERCURIO -->
    <div id="mercurio"></div>

    <!-- MATI ESPACIO -->
   

    <!-- BOTÓN AUDIO -->
    <div id="audio_mati" onclick="audioPlay()">
       
        <audio id="audio"> 
            <source src="./resources/audios/collect-points-190037.mp3" type="audio/mp3">
            Tu navegador no soporta el elemento de audio.
        </audio>
    </div>
 </div>
    <!-- BOTÓN SIGUIENTE PÁGINA -->
    <button id="btn_iniciarJuego">¡EMPIEZA LA AVENTURA!</button>

    <!-- ENLACE A JS -->
    <script src="./resources/scripts/main.js"></script>
</body>
</html>

