<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/estilos_login.css">

<!-- FUENTE PARA EL TITULO -->
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
	rel="stylesheet">

<!-- BOOTSTRAP -->
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">
<title>LOGIN</title>
</head>

<!--ESTILO PARA VALIDAR FORMULARIO -->
<style>
:is(input, textarea):invalid {
	background: rgba(255, 0, 0, 0.468);
	color: black;
}

:is(input, textarea):valid {
	background: rgba(0, 128, 0, 0.542);
}
</style>

<!--INICIO BODY -->
<body>
	<!-- CONTENEDOR PRINCIPAL -->
	<div class="container-fluid vh-100 d-flex flex-column justify-content-center align-items-center">
		<!--OLAS-->
		<div class="background">
			<div class="wave-container">
				<img class="wave1" src="img/olas_login.png" alt="Ola 1"> <img class="wave1" src="img/olas_login.png" alt="Ola 2">
			</div>
			<div class="wave-container">
				<img class="wave2" src="img/olas_login.png" alt="Ola 3"> <img class="wave2" src="img/olas_login.png" alt="Ola 4">
			</div>
			<div class="wave-container">
				<img class="wave1" src="img/olas_login.png" alt="Ola 1"> <img class="wave1" src="img/olas_login.png" alt="Ola 5">
			</div>
			<div class="wave-container">
				<img class="wave2" src="img/olas_login.png" alt="Ola 3"> <img class="wave2" src="img/olas_login.png" alt="Ola 4">
			</div>
			<div class="wave-container">
				<img class="wave1" src="img/olas_login.png" alt="Ola 1"> <img class="wave1" src="img/olas_login.png" alt="Ola 5">
			</div>
		</div>
		<!-- / OLAS -->

		<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
			<img id="flag" src="img/bandera_login2.png" alt="">

			<!--FORMULARIO LOGIN ---------------------------->
			<div class="container d-flex flex-column justify-content-center align-items-center mt-4">
				<form id="form" class="w-300 w-md-50 w-lg-40">
					<h3 class="text-center mb-4">Por favor introduce las credenciales asignadas por tu profe</h3>

					<div class="form-group">
						<label for="mailUser">EMAIL DEL TUTOR:</label> 
						<input class="form-control" title='completa con el mail de tutor' type="email" name="mailUser" id="mailUser" placeholder="Tu mail de usuario" maxlength="20" required>
					</div>

					<div class="form-group">
						<label for="passUser"> TU CONTRASEÑA:</label> 
						<input class="form-control" title='completa con tu password' type="password" name="passUser" id="passUser"placeholder="Tu password" maxlength="10" required>
					</div>

					<button class="btn btn-block" title="pulsa para verificar que eres tú" type="submit" id="botonComprobar">COMPROBAMOS</button>
				</form>
			</div> <!-- Cierre de form container -->
		</div> <!-- Cierre de container principal -->
	</div> <!-- Cierre de container-fluid -->

	<!-- ENLACE A JS -->
	<script src="/scripts/script_login.js"></script>
</body>
</html>
