<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos_mapaM_pag5.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet"> <!-- Enlace para importar la fuente Montserrat -->

    <title>MAPA2_MUNDO_1</title>
</head>


<!--INICIO BODY -->
 
<body>
   
    
    <h1>MUNDO PIRATA</h1>
   
    <!-- MAPA ---------------------------->
        
            <img id="mapa" src="/img/pirate_12599299.png" alt="">
       

    <!-- MATI ---------------------------->

        <div id="mati" >
            <img src="/img/mati_1.png" alt="">
        </div>

     <!-- PANTALLA INICIO MUNDO 1---------------------------->

            <button id="btn_inicio" value="inicio">INICIO</button>


     <!-- PANTALLA RETO_1 ---------------------------->

            <button id="btn_reto1" value="reto1">RETO 1</button>

     
    <!-- PANTALLA RETO_2 ---------------------------->i
              
            <button id="btn_reto2" value="reto2">RETO 2</button>

     <!-- PANTALLA RETO_3 ---------------------------->    
         
     <!--    <button id="btn_reto3" value="reto3">RETO 3</button>-->

    <!-- DIV BARCO  ---------------------------->   
    <div id="barcoMeta"></div> 

    <!-- DIV AUDIO RETO 1 ---------------------------->   
    <div id="audio_mati">
        <audio id="audio_reto1"> 
            <source src="/audios/collect-points-190037.mp3" type="audio/mp3">
            Tu navegador no soporta el elemento de audio.
        </audio>
    </div>

    <!-- DIV AUDIO RETO 2 ---------------------------->   

    <div>
        <audio id="audio_reto2"> 
            <source src="/audios/collect-points-190037.mp3" type="audio/mp3">
            Tu navegador no soporta el elemento de audio.
        </audio>
    </div>

<!-- ENLACE A JS-->
<script src="/scripts/script_mapaAReto2.js"></script>
</body>
</html>