body {
    background-color: #8787e3;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;

}

/* MATI   ********************************/

#mati{
    position: absolute;
    top:60px;
}

#titulo_mati{
    position: absolute;
    bottom:5px;
    left: 140px;
    font-size: 70px;
    padding: 5px 15px;
    border:3px solid grey;
    background-color: #e9f7fb;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    
}

/*  PARRAFOS ********************************/

#presentacion{
    font-size: 30px;
    text-align: center;
    position: absolute;
    top:20px;
    left:400px;
}

#intro {
    position:absolute;
    top:150px;
    margin-left: 50%;
    font-size: 26px;
    padding: 10px;
    text-align: center;

}

/* AUDIO  ********************************/

#audio_mati{
    position: absolute;
    top:50px;
    right:70px;
    width: 80px;
    height: 80px;
    background-color: rgb(215, 72, 215);
    border-radius: 19px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;

}
#audio_mati:hover{
    background-color: rgb(250, 211, 149);
}

#audio_mati:hover,
#audio_mati:focus {
    transform: scale(1.1); /*se agranda un 10%*/
}

#audio_mati audio {
    background: url("/img/volume-up_4178625.png") no-repeat center center;
    background-size: contain;
    border: none;
    outline: none;
}

#audio_mati img {
    width: 80px;
    border: none;
    outline: none;
}

/* BTN  ********************************/

#btn_continuar{
    position: absolute;
    font-weight: bold;
    bottom: 205px;
    right: 290px;
    width: 300px;
    height: 80px;
    border-radius: 5px;
    background-color: #E3E386;
    border: none;
    font-size: 24px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

}

#btn_continuar:hover{
   background-color:  #d6a40e;
}
