<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>


</head>
<!--ESTILO PARA VALIDAR FORMULARIO -->

<style>
    :is(input, textarea):invalid {
    background: rgba(255, 0, 0, 0.468);
    color: black;
    }
    :is(input, textarea):valid {
    background: rgba(0, 128, 0, 0.542);
    }
    </style>

<!--INICIO BODY -->

<body>

    <h1>LOGIN</h1>

    <h3>Por favor introduce tus credenciales</h3>

<!--FORMULARIO LOGIN ---------------------------->
    <form id="form"> 

        TU NOMBRE DE USUARIO:
        <input type="email" name="mailUser" id="mailUser" placeholder="Tu mail de usuario" maxlength="20" required>
        <hr>

        TU CONTRASEÑA:
        <input type="password" name="passUser" id="passUser" maxlength="10" required>
        <br>        <br>

        <button type="submit" id="botonComprobar">COMPROBAMOS</button>
    </form>
<!----------------------------------------------->


<!-- ENLACE A JS-->
<script src="login.js"></script>
</body>
</html>