<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROFESOR</title>


</head>
<body>

    <h1>MENÚ DE PROFESOR</h1>

    <h3>Elige que quieres hacer hoy</h3>

<!--ZONA ELECCION DE ACTIVIDAD ---------------------------->
    <form action="" method="post">

        
        <input type="radio" name="stats" id="stats">  ESTADÍSTICAS
        
        <input type="radio" name="dataAlum" id="dataAlum">  GESTIÓN DE DATOS DE ALUMNOS
 
  
    </form>
<!----------------------------------------------->

</body>
</html>